// Variables

// Colors
$primary-color: #58CBD0;
$secondary-color: #F2DABE;
$tertiary: #333;
$white: #fff;
$black: #000;

// Typography
$bold: bold;
$uppercase: uppercase;

//Misc.
$border-none: none;
$border-radius-10: 10px;
$opacity-0: 0;
$opacity-1: 1;

