@import "variables";
@import "btnConfig";

//General Styling
body {
    background-image: url('/assets/ring-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding-top: 100px;
    overflow: hidden;
}

h1 {
    color: $white;
    font-weight: $bold;
    text-transform: $uppercase;
}

h2 {
    color: $secondary-color;
    font-size: 1em;
    letter-spacing: .25em;
}

.selections {
    display: flex;
    justify-content: center;
}

.selection {
    background: none;
    border: $border-none;
    outline: none;
    cursor: pointer;
    font-size: 7em;
    transition: 100ms;
    padding: 50px;
}

.selection:hover {
    transform: scale(1.2);
}

.results {
    margin-top: 1rem;
}

.restart {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

.result-score {
    margin-left: .1em;
    font-size: 5em;
    color: $tertiary;
}

.result-selection {
    font-size: 5em;
    opacity: .5;
    justify-content: center;
    text-align: center;
}

.result-selection {
    .winner {
    font-size: 6em;
    opacity: 1;
    }
}